@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:poppins,sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(scenarie.jpg);
    background-size: cover;
    background-position: center;


}
.wrapper{
    width: 420px;
    background: transparent ;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    
}
.wrapper .input-box{
    position: relative;
    width: 86%;
    height:50px;
   
    margin: 30px
    ;
    border-radius: 40px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;

}
.input-box i
{
    position: absolute;
    right: 20px;
    top: 50%;
    
}
.input-box input::placeholder
{
    color: white;
}
.wrapper .remember-forget
{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forget
{
    color: #fff;
}
.my
{
    color: white;
    margin-left: 200px;

}
.my:hover{
    
}
.btn
{
    padding: 2px;
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 45px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;

}
.btn:hover{
    color: white;
    background-color: black;
}
.register-link
{
    align-items: center;
    text-align: center;
}
.reg
{
    color: rgb(0, 255, 179);
    font-weight: 600px;
}